
    {% csrf_token %}
    <div>
        {% for field in form %}
        <div class="input-group mb-2">
            <span class="input-group-text">
                <i class="{{field.field.icon}}"></i>
            </span>
            <div class="form-floating">
                {{field}}
                {{field.label_tag}}
            </div>
        </div>
        {%if field.errors%}
            {% for error in field.errors %}
                <div class="field-error text-danger">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-cta mt-4">{{btn_action}}</button>