modules = ["nodejs-20", "web", "python-3.12"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 manage.py runserver 0.0.0.0:3000"]

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
