<!-- Btn Modal-->
<button type="button" class="btn btn-cta" data-bs-toggle="modal" data-bs-target="#reservationsModal">
    Schedule an appointment
 </button>

<!-- Modal -->
<div class="modal fade" id="reservationsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content colored-background text-light p-4">
            <div class="modal-header border-0">
                <h3 class="modal-title">Schedule an appointment</h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url "reservations:create" %}" class="row gy-3">
                {% include "global/partials/form.html" %}
                </form>
            </div>
        </div>
    </div>
</div>