{% extends "global/base.html" %}

{% load static %}

{% block content %}
<main>
    <!-- Hero section -->
    <section class="hero">
        <div class="hero-overlay"></div>
        <div class="container hero-content">
            <h1 class="display-4 fw-bold">STYLE IS A REFLECTION OF YOUR ATTITUDE AND PERSONALITY</h1>
            <p class="lead">Opening hours: 09:00 AM to 06:00 PM</p>
            <button type="button" class="btn btn-cta" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Schedule an appointment
            </button>
        </div>
    </section>

    <!-- About section-->
    <section class="colored-background">
        <div class="container my-0">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src={% static 'barber_shop/assets/image-design.png' %} class="img-fluid rounded"
                        alt="Imagem 1">
                </div>
                <div class="col-md-6 align-items-start">
                    <h2 class="text-light fw-bold">About</h2>
                    <p class="text-light fs-5">
                        Welcome to our barbershop, where tradition and style come together to provide a unique
                        experience of care and well-being. Our team of barbers specializes in both classic and
                        modern cuts, ensuring that every client leaves satisfied and confident.
                    </p>
                    <p class="text-light fs-5">
                        We value personalized service, striving to understand individual preferences to offer the
                        haircut or beard style that best suits your look. Additionally, our environment is designed
                        to be welcoming and relaxing, allowing you to enjoy every moment of your visit.
                    </p>
                    <p class="text-light fs-5 fw-bold">Opening hours: 09:00 AM to 06:00 PM</p>
                </div>
            </div>
    </section>
    </div>

    <section class="services-container">
        <div class="container mt-5">
            <div class="text-center mb-4">
                <h2 class="fw-bold">Serviços</h2>
                <p>Lorem ipsum dolor sit amet consectetur. Etiam mus vitae lectus proin pellentesque mattis iaculis.
                    In
                    viverra accumsan sagittis tempus duis a. Sagittis mollis a eu urna eget id.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card service-card mb-5">
                        <img src="{% static '/barber_shop/assets/services-img1.png' %}" class="card-img-top"
                            alt="Corte de cabelo">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Corte de cabelo</h5>
                            <a class="btn btn-dark stretched-link" href="">R$55,90</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card service-card mb-5">
                        <img src="{% static '/barber_shop/assets/services-img2.png' %}" class="card-img-top"
                            alt="Corte completo">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Corte completo</h5>
                            <button class="btn btn-dark stretched-link">R$55,90</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card service-card mb-5">
                        <img src="{% static '/barber_shop/assets/services-img3.png' %}" class="card-img-top"
                            alt="Corte & Barba">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Corte & Barba</h5>
                            <button class="btn btn-dark stretched-link">R$55,90</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="colored-background">
        <div class="container">
            <div class="team-title text-center text-light fw-bold">
                <h2>
                    Our Team
                </h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="team-card">
                        <img src="{% static '/barber_shop/profile_covers/profile1.png' %}" alt="Lucas Silva">
                        <h5 class="fs-4">Lucas Silva</h5>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card">
                        <img src="{% static '/barber_shop/profile_covers/profile2.png' %}" alt="Henrique Souza">
                        <h5 class="fs-4">Henrique Souza</h5>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card">
                        <img src="{% static '/barber_shop/profile_covers/profile3.png' %}" alt="Tiago Mendes">
                        <h5 class="fs-4">Tiago Mendes</h5>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="units-container">
        <div class="container text-center mt-5">
            <h2>Nossas Unidades</h2>
            <div class="row justify-content-center mt-4">
                <div class="col-md-5 unit">
                    <h5>Rua Aguiar, n 120</h5>
                    <p>Campo Grande - MS</p>
                    <img src="{% static '/barber_shop/units_covers/filial1.png' %}" alt="Unidade 1">
                </div>
                <div class="col-md-5 unit">
                    <h5>Rua Centro, n 10</h5>
                    <p>Campo Grande - MS</p>
                    <img src="{% static '/barber_shop/units_covers/filial2.png' %}" alt="Unidade 2">
                </div>
            </div>
        </div>
    </section>

    {% include "global/partials/reservation-modal.html" %}
</main>
<hr>
{% endblock content %}