{% extends "global/base.html" %}

{% load static %}

{% block page_title %} Homepage {% endblock page_title %}

{% block content %}
<main>

    <!-- Hero section -->
    <div class="hero">
        <div class="hero-overlay"></div>
        <div class="container hero-content">
            <h1 class="display-4 fw-bold">STYLE IS A REFLECTION OF YOUR ATTITUDE AND PERSONALITY</h1>
            <p class="lead">Opening hours: 09:00 AM to 06:00 PM</p>
            {% include "reservations/components/reservation-modal.html" %}
        </div>
    </div>

    <!-- About section-->
    <div class="about-container colored-background" id="about">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src={% static 'barber_shop/assets/image-design.png' %} class="img-fluid rounded"
                        alt="Imagem 1">
                </div>
                <div class="col-md-6 align-items-start">
                    <h2 class="text-light fw-bold">About</h2>
                    <p class="text-light fs-5">
                        Welcome to our barbershop, where tradition and style come together to provide a unique
                        experience of care and well-being. Our team of barbers specializes in both classic and
                        modern cuts, ensuring that every client leaves satisfied and confident.
                    </p>
                    <p class="text-light fs-5">
                        We value personalized service, striving to understand individual preferences to offer the
                        haircut or beard style that best suits your look. Additionally, our environment is designed
                        to be welcoming and relaxing, allowing you to enjoy every moment of your visit.
                    </p>
                    <p class="text-light fs-5 fw-bold">Opening hours: 09:00 AM to 06:00 PM</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Services section -->
    <div class="services-container" id="services">
        <div class="container py-5">
            <div class="text-center mb-4">
                <h2 class="fw-bold">Serviços</h2>
                <p>Lorem ipsum dolor sit amet consectetur. Etiam mus vitae lectus proin pellentesque mattis iaculis.
                    In
                    viverra accumsan sagittis tempus duis a. Sagittis mollis a eu urna eget id.</p>
            </div>
            {% include "global/partials/services-cards.html" %}
        </div>
    </div>

    <!-- Team section -->
    <div class="team-container colored-background" id="team">
        <div class="container py-5">
            <div class="team-title text-center text-light fw-bold">
                <h2>
                    Our Team
                </h2>
            </div>
        {% include "global/partials/employees-cards.html" %}
        </div>
    </div>

    <!-- Units section -->
    <div class="units-container" id="units">
        <div class="container text-center py-5">
            <h2>Nossas Unidades</h2>
        {% include "global/partials/unit-card.html" %}
        </div>
    </div>


</main>
<hr>
{% endblock content %}