h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/* Main button */
.btn-cta {
    background-color: #F0B35B;
}

.btn-cta:hover {
    background-color: #e09a42;
}

/* Navbar */
.navbar-custom {
    background-color: rgb(13, 18, 30);
}

.navbar-custom .nav-link {
    color: #fff;
}

.navbar-custom .nav-link:hover {
    color: #ddd;
}


/* Hero section */
.hero {
    background: linear-gradient(to bottom, rgba(13, 18, 30, 1), rgba(13, 18, 30, 0.5), rgba(13, 18, 30, 1)),
        url(https://images.unsplash.com/photo-1622286342621-4bd786c2447c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: center;
    padding: 230px 0;
}

.colored-background {
    background-color: rgb(13, 18, 30);
}

.service-card {
    box-shadow: 4px 5px 20px 0px black;
    transition: all 300ms ease-in-out;
}

.service-card:hover {
    transform: scale(1.02);
}

/* 'OUR TEAM' SECTION */

.team-card {
    text-align: center;
}

.team-card img {
    margin-bottom: 15px;
    width: auto;
    height: 300px;
}

.team-card h5 {
    color: #F0B35B;
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #F0B35B;
}

/* 'NOSSAS UNIDADES' section */

.unit {
    margin-bottom: 20px;
}

.unit img {
    width: auto;
    height: 400px;
    border-radius: 10px;
}

.unit h5 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.unit p {
    font-size: 14px;
    color: #666;
}

/* footer */

footer {
    padding: 20px;
    text-align: center;
    position: relative;
}

footer img {
    width: 100px;
    height: auto;
}

.social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #000;
    font-size: 20px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

/* FORM */

.image-holder img {
    height: auto;
    width: 100%;
}

/* messages */
.message-container {
    top: 20px;
    margin-bottom: -60px;
}
