{% load static %}
<div class="container">
    <div
        class="form-container row colored-background rounded rounded-4 mx-1 mx-sm-0 overflow-hidden justify-content-center"
    >
        <div class="image-holder col d-none d-lg-block ps-0">
            <img src="{% static 'users/login-cover.jpg'%}" alt="login-cover" />
        </div>
        <div
            class="col-12 col-lg-6 align-content-center row justify-content-center py-5"
        >
            <h2 class="text-center col-12 h2-colored">
                <!-- Substituir isso por um block content -->
                {{ title }}
            </h2>
            <form method="POST" class="row gy-3 col-11 col-sm-8">
                {% include "global/partials/form.html" %}
            </form>
        </div>
    </div>
</div>
