<div class="row">
    {% for employee in employees %}
    <div class="col">
        <div class="team-card">
            <img src={{ employee.profile_photo.url }} alt="Lucas Silva">
            <h5 class="fs-4">
                {{ employee.user.username}}
            </h5>
            <div class="social-icons">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>