{% load static %}


<footer>
    <div class="social-icons">
        <a href="https://www.instagram.com/nilsow_s" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/AroMight" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/fcodenilson/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <img src="{% static '/barber_shop/assets/logo-footer.png' %}" alt="Barber Logo">
</footer>

<a href="https://wa.me/yourwhatsappnumber" class="whatsapp-btn d-flex align-items-center justify-content-center"
    target="_blank">
    <i class="bi bi-whatsapp text-light fs-3"></i>
</a>