{% load static %}


<footer>
    <div class="social-icons">
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
    </div>
    <img src="{% static '/barber_shop/assets/logo-footer.png' %}" alt="Barber Logo">
</footer>

<a href="https://wa.me/yourwhatsappnumber" class="whatsapp-btn d-flex align-items-center justify-content-center"
    target="_blank">
    <i class="bi bi-whatsapp text-light fs-3"></i>
</a>